<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= display_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :stylesheets %>
  <%= render :partial => "common/google_analytics" %>
</head>
<body>
  <header>
    <%= render 'common/navigation' %>
  </header>
  <main role="main">
     <%= render 'common/messages' %>
     <%= yield %>
  </main>


  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>
</body>
</html>